@clerk/clerk-expo
@react-native-community/netinfo
@react-native-async-storage/async-storage
@react-navigation/bottom-tabs
@react-navigation/native
@react-navigation/stack
expo
expo-auth-session
expo-image-picker
expo-linking
expo-secure-store
expo-status-bar
expo-web-browser
lucide-react-native
react
react-dom
react-native
react-native-gesture-handler
react-native-reanimated
react-native-safe-area-context
react-native-screens
react-native-svg
react-native-worklets
react-native-worklets-core
stream-chat
zustand
@maplibre/maplibre-react-native
expo-dev-client
