fastapi
uvicorn
requests
python-dotenv
python-multipart
stream-python
pydantic
psycopg[binary]
stream_chat
protobuf<5.0.0
jsonschema<3.0.0
pytz
PuLP
pydantic-settings
typing-extensions
redis
PyJWT==2.10.1
cryptography>=42,<45
slowapi
bleach